.app {
    background-color: darkgrey;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }



.home {
    margin-right: 2rem;
    padding: 0.5rem 2rem;
}

.home button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background: none;
    border: 3px solid darkred;
    border-radius: 5px;
    background-color: pink;
    color: #666;
}

.header button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background: none;
    border: 2px solid darkgreen;
    border-radius: 5px;
    background-color: lightgreen;
    color: #666;
}

.form {
    text-align: center;
}

.postBox {
    padding: 1.5rem;
    border: 5px solid green;
    border-radius: 8px;
    background: white;
}